.element-setting-wrapper{
    position: absolute;
    width: 260px;
    height: calc(100% - 65px);
    background-color: #fff;
    top: 60px;
    right: 180px;
    z-index: 1041;
    box-shadow: 0 0 16px rgb(0 0 0 / 16%);
    user-select: none;
    z-index: 11;
    .element-setting-container{
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    // overflow-y: scroll;
    .style-color-select{
        position: absolute;
        left: -151px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        .sketch-picker{
            width: 258px !important;
        }
    }
    .style-background-color-select{
        position: absolute;
        left: -75px;
        top: 55%;
        transform: translateY(-50%);
        z-index: 1;
    }
    .style-border-color-select{
        position: absolute;
        left: -145px;
        top: 65%;
        transform: translateY(-50%);
        z-index: 1;
    }
    .element-setting-top{
        cursor: move;
        height: 48px;
        line-height: 48px;
        background-color: #fff;
        padding: 0 16px;
        color: #333;
        h1{
            font-size: 14px;
        }
        i{
            width: 50px;
            height: 100%;
            cursor: pointer;
        }
    }
    .element-setting-tab{
        li{
            border-bottom: 1px solid #ccd5db;
            flex: 1;
            height: 36px;
            line-height: 36px;
            text-align: center;
            font-size: 14px;
            color: #333;
            display: flex;
            justify-content: center;
        }
        li:hover{
            color: #1261ff;
            border-bottom: 2px solid #1261ff!important;
            cursor: pointer;
            font-weight: 700;
        }
        .action{
            color: #1261ff;
            border-bottom: 2px solid #1261ff!important;
            cursor: pointer;
            font-weight: 700;
        }
    }
}