

.test-animation {
    width: 100px;
    border: 2px solid red;
    animation: 1s ease 0s 1 normal both running rollInRight;
}

@keyframes rollInRight{
    0% {
        opacity: 0;
        transform: translate3d(-100%,0,0) rotate(-120deg);
    }

    100% {
        opacity: 1;
        transform: none;
    } 
        
}