.style-font-size{
    .font-size-right{
        .right{
            position: relative;
            display: inline-block;
            border: 1px solid #e6ebed;
            height: 32px;
            width: 80px;
            border-radius: 4px;
            margin-right: 10px;
            input {
                width: 58px;
                height: 30px;
                border: none;
                border-radius: 4px;
                color: #333;
            }
            .right-input-background{
                position: absolute;
                right: 15px;
                top: 45%;
                transform: translateY(-50%);
            }
            .right-arrow{
                border-radius: 3px;
                cursor: pointer;
                text-align: center;
                width: 20px;
                height: 100%;
                line-height: 34px;
                float: right;
                color: #666;
                background-color: #fff;
                position: relative;
                .right-arrow-icon{
                    width: 20px;
                    height: 20px;
                    transition: all .2s;
                }
            }
            .right-arrow:hover .right-arrow-icon{
                transform: rotate(-180deg);
            }
            .right-arrow:hover .font-size-list{
                display: block;
            }
            
            .font-size-list{
                position: absolute;
                top: 0px;
                right: 0;
                padding: 8px 0;
                width: 78px;
                border: 1px solid rgba(0,0,0,.15);
                border-radius: 3px;
                box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
                background-clip: padding-box;
                font-size: 14px;
                height: 200px;
                overflow-y: scroll;
                display: none;
                transition: opacity .2s;
                background-color: #fff;
                li{
                    line-height: 30px;
                    color: #000;
                    text-indent: 10px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    text-align: left;
                }
                li:hover{
                    background-color: #eee;
                }
                .action{
                    background-color: #1261ff !important;
                    color: #fff !important;
                }
            }
        }
        .right-increase, .right-reduce{
            width: 32px;
            height: 32px;
            border-radius: 4px;
            background-color: #fff;
            font-size: 18px;
            text-align: center;
            line-height: 32px;
            border: 1px solid #e6ebed;
            cursor: pointer;
        }
    }
    
}