.element-setting-animation-wrapper{
    overflow: hidden;
    height: calc(100% - 84px);
    overflow-y: scroll;
    .animation-button{
        margin: 15px 0;
        button{
            padding-left: 32px;
            color: #333;
        }
        .add{
            background: url('/assets/image/icon-animation-add.png') no-repeat left 10px center;
            background-size: 20px;
            background-color: #1261ff;
            color: #fff;
        }
        .look{
            background: url('/assets/image/icon-animation-play-hover.png') no-repeat left 10px center;
            background-size: 15px;
        }
        .look:hover{
            background: url('/assets/image/icon-animation-play.png') no-repeat left 10px center;
            background-size: 15px;
            color: #fff;
            background-color: #1261ff;
        }
    }
    .animation-list{
        li{
            .item-nav{
                padding: 8px 15px;
                box-sizing: border-box;
                background: #f1f5f9;
                cursor: pointer;
                .item-nav-left{
                    h3{
                        margin-right: 22px;
                        font-size: 14px;
                        color: #111;
                        font-weight: 700;
                    }
                    button{
                        max-width: 100px;
                        width: 80px;
                        display: block;
                        color: #666;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        background: #fff;
                        border-radius: 60px;
                        border: none;
                        cursor: pointer;
                        font-size: 12px;
                        text-align: left;
                        padding: 5px 0;
                        padding-left: 10px;
                        position: relative;
                    }
    
                    button::after{
                        content: '';
                        border: 4px solid transparent;
                        border-left: 5px solid #666;
                        position: absolute;
                        right: 2px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    button:hover{
                        color: #fff;
                        background-color: #1261ff;
                    }
                    button:hover::after{
                        border-left: 5px solid #fff;
                    }
                }
                .item-nav-right{
                    .right-play{
                        background: url('/assets/image/icon-animation-play-hover.png') no-repeat center;
                        background-size: 15px;
                        width: 25px;
                        height: 25px;
                        border-radius: 30px;
                        cursor: pointer;
                    }
                    .right-play:hover{
                        background: url('/assets/image/icon-animation-play.png') no-repeat center;
                        background-size: 15px;
                        color: #fff;
                        background-color: #1261ff;
                    }
                    .right-delete{
                        background: url('/assets/image/icon-animation-delete.png') no-repeat center;
                        background-size: 74%;
                        width: 25px;
                        height: 25px;
                        border-radius: 30px;
                        cursor: pointer;
                    }
                    .right-delete:hover{
                        background: url('/assets/image/icon-animation-delete-hover.png') no-repeat center;
                        background-size: 74%;
                        color: #fff;
                        background-color: #ff2a6a;
                    }
                    .right-arrow {
                        width: 25px;
                        height: 25px;
                        background: url('/assets/image/icon-animation-arrow.png') no-repeat center;
                        background-size: 78%;
                        transition: all .3s;
                        transform: rotate(90deg);
                    }
                    .right-arrow-rotate{
                        transform: rotate(0deg);
                    }
                }

            }
            .item-setting{
                padding: 10px 16px;
                flex-wrap: wrap;
                .item-setting-container{
                    margin-bottom: 10px;
                    width: 113px;
                    h5{
                        font-size: 14px;
                        color: #666;
                        white-space: nowrap;
                    }
                    .right{
                        border: 1px solid #ccd5db;
                        padding: 0 5px;
                        box-sizing: border-box;
                        color: #999;
                        margin-left: 5px;
                        input{
                            border: none; 
                            width: 50px; 
                            height: 36px;
                            line-height: 34px;
                            border-radius: 3px;
                            vertical-align: baseline;
                            cursor: pointer;
                        }
                    }
                    span{
                        display: block;
                        font-size: 14px;
                    }
                }
                .item-setting-play{
                    border: 1px solid #ccd5db;
                    padding: 0 15px;
                    height: 36px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                    width: 100px;
                    font-size: 12px;
                    white-space: nowrap;
                    input{
                        margin-right: 10px;
                    }
                }
                .item-setting-play:hover{
                    border: 1px solid #1261ff;
                }
            }
        }
    }
}