.tips{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px 5px;
    background-color: rgba(0, 0, 0, .8);
    color: #eee;
    white-space: nowrap;
    font-size: 12px;
    border-radius: 5px;
    opacity: 0;
    transition: all .3s;
    .tips-bottom-arrow {
        position: absolute;
        bottom: -12px;
        left: 50%;
        transform: translateX(-50%);
        border: 7px solid transparent;
        border-top: 6px solid rgba(0, 0, 0, .8);

    }
}
.open-top-tips:hover .tips{
    top: -35px;
    opacity: 1;
}