.z-index-wrapper{
    padding: 0 15px;
    margin: 10px 0 0;
    h4{
        color: #666;
        font-size: 15px;
    }
    input{
            padding: 0 0 0 6px;
        width: 100px;
        height: 32px;
        border-radius: 4px;
        line-height: 32px;
        border: 1px solid #e6ebed;
    }
}