.style-position{
    .position-icon{
        padding: 0 20px;
        margin: 10px 0;
        li{
            position: relative;
            height: 24px;
            width: 24px;
            cursor: pointer;
            i{
                display: block;
                width: 100%;
                height: 100%;
            }
            .icon-position-left{
                background: url('/assets/image/icon-position-left.png') no-repeat center;
                background-size: 70%;
            }
            .icon-position-right{
                background: url('/assets/image/icon-position-right.png') no-repeat center;
                background-size: 70%;
            }
            .icon-position-top{
                background: url('/assets/image/icon-position-top.png') no-repeat center;
                background-size: 70%;
            }
            .icon-position-bottom{
                background: url('/assets/image/icon-position-bottom.png') no-repeat center;
                background-size: 70%;
            }
            .icon-position-center{
                background: url('/assets/image/icon-position-center.png') no-repeat center;
                background-size: 70%;
            }
        }
        li:hover .tips{
            top: -35px;
            opacity: 1;
        }
    }
    .style-position-box{
        padding: 0 16px;
        align-items: flex-start;
        .left{
            width: 76px;
            font-size: 14px;
            margin-top: 10px;
        }
        .right{
            flex: 1;
            input{
                border-radius: 3px;
                border: 1px solid #e6ebed;
                width: 60px;
                height: 36px;
                line-height: 34px;
                padding-left: 10px;
            }
            h4{
                width: 60px;
                text-align: center;
                color: #666;
                line-height: 36px;
                height: 36px;
                font-size: 14px;
            }
        }
    }
}